body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.navbar {
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar input[type="search"] {
  width: 500px;
  height: 30px;
}

#cart {
  position: relative;
}

#cart:hover .my-cart {
  display: block;
}

.my-cart {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.my-cart li div {
  width: 50px;
}

.my-cart li div img {
  width: 100%;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 300px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.product .pricing {
  margin: 3px 0;
}

.product .pricing span:first-child {
  font-weight: 700;
}

.product .image img {
  width: 100%;
}

.product .pricing span:first-child {
  color: red;
}

.product .controls button {
  background-color: #ff0000;
  color: #ffffff;
  text-align: center;
  border: none;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
.logo{
  width: 80px;
}
.cat-list{
  background-color: rgb(231, 76, 28);
  color: white;
}
.category{
  position: relative;
}
.category:hover #lst{
  display:block;
  background-color: tomato;
}

#lst{
  display:none;
  position: absolute;
  top: 20px;
  left: 0;
  padding: 10px;
  background-color:orangered;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
 
}
.li-1 a{
  color: white;
}
