body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.navbar {
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar input[type="search"] {
  width: 500px;
  height: 30px;
}

#cart {
  position: relative;
}

#cart:hover .my-cart {
  display: block;
}

.my-cart {
  display: none;
  position: absolute;
  width: 20rem;
  top: 20px;
  right: 0;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.my-cart li div {
  width: 50px;
}

.my-cart li div img {
  width: 100%;
  height: 50px;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.center-aline-item {
  align-self: center;
}
.product {
  width: 300px;
  padding: 10px;
  margin: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.product .pricing {
  margin: 3px 0;
}

.product .pricing span:first-child {
  font-weight: 700;
}

.product .image img {
  width: 100%;
  height: 18rem;
}

.product .pricing span:first-child {
  color: red;
}

.product .controls button {
  background-color: #ff0000;
  color: #f8f8f8;
  text-align: center;
  border: none;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
.logo {
  width: 80px;
}
.cat-list {
  background-color: rgb(231, 76, 28);
  color: white;
}
.category {
  position: relative;
}
.category:hover #lst {
  display: block;
  background-color: tomato;
}

#lst {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  padding: 10px;
  background-color: orangered;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.li-1 a {
  color: white;
}
footer {
  position: relative;
  width: 100%;
  background-color: rgb(253, 251, 255);
}
/* container*/
.cont {
  display: flex;
}
/* container box */
.cont .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
/*left part of footer*/
.leftside h3 {
  font-size: 1.5rem;
  color: #6cd138;
  margin: 10px;
}
.drop li {
  font-size: 1.2rem;
  color: black;
  padding: 5px;
  margin: 5px;
  margin-bottom: 5px;
  list-style: none;
  font-weight: 500;
}
/*centerpart of footer*/
.centerside h4 {
  font-size: 1.5rem;
  color: #58f50a;
  margin: 10px;
}
.menu li {
  font-size: 1.2rem;
  color: black;
  padding: 5px;
  margin: 5px;
  margin-bottom: 5px;
  list-style: none;
  font-family: "ProximaNovaA-Regular";
}
/*right part of footer*/
.rightside h2 {
  font-size: 1.5rem;
  color: #59d31d;
  margin: 10px;
}
.social i {
  font-size: 25px;
  margin-left: 30px;
  color: rgb(49, 15, 240);
  background-color: rgb(252, 252, 252);
}
.social i:hover {
  color: rgb(243, 9, 9);
  background-color: rgb(236, 236, 213);
}
.cat {
  margin: 10px;
}
.cat span {
  font-size: 1.2rem;
  color: #61e420;
  font-weight: 700;
}
.cat p {
  font-size: 1.2rem;
  color: #0d0e0d;
  font-weight: 500;
}
#cart-list .flex .remove-cart {
  padding: 4px 20px;
  align-self: center;
  height: 30px;
  color: white;
  background-color: #38384f;
}
